build/*
!.vscode/launch.json
*.DS_Store
!build/esp32firefly.elf

# Common Makefile directories
obj/
tmp/
out/

# Common CMake directories/files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile

# Build artifacts and dependencies
*.a
_deps/
*.bin
*.dis
*.elf
*.elf.map
*.hex
*.uf2
pico-sdk/
generated/
pico_flash_region.ld
picotool/

# Debugging files
pdm_viz/venv/

